:root {
  --cta: #00b14b;
  --cta-shade: #004c00;
  --dark-bg: #252525;
  --dark-bg-shade: #252525a6;
  --text-primary: #f9f9f9;
  --text-secondary: #e9e9e9a6;
}

.App {
  width: 100%;
  min-height: 100vh;
  padding: 1rem 2rem;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--dark-bg);
  color: white;
}

.loading-page {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.loading-page .stair {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  animation: fadeOut 1.5s forwards;
  animation-delay: 2.5s;
}

.loading-page .stair .stair-step {
  background-color: var(--cta);
  height: 80px;
  animation: slideIn 1s forwards;
  align-self: flex-end;
}

.loading-page .stair .stair-step:nth-of-type(1) {
  width: 100px;
  animation-delay: 1s;
  opacity: 0;
}

.loading-page .stair .stair-step:nth-of-type(2) {
  width: 200px;
  animation-delay: 0.5s;
  opacity: 0;
}

.loading-page .stair .stair-step:nth-of-type(3) {
  width: 300px;
}

.page {
  margin-top: 100px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-bg);
  width: 100%;
  height: fit-content;
  border-bottom: 1px solid var(--text-primary);
  display: flex;
  padding: 0 2rem;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header .logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  color: var(--text-primary);
  font-weight: 700;
  text-decoration: none;
}

header nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header nav a {
  color: var(--text-primary);
  text-decoration: none;
  transition: 0.2s;
}

header nav a.active {
  font-weight: 700;
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right bottom, var(--cta), var(--cta-shade));
  border-image-slice: 1;
  width: fit-content;
}

header nav .header-seperator-line {
  height: 70px;
  margin: 0 1rem;
  width: 1px;
  background-color: var(--text-primary);
}

header .hamburger {
  display: none;
  width: fit-content;
  height: fit-content;
  flex-direction: column;
  gap: 4px;
}

header .hamburger .hamburger-line {
  width: 22px;
  height: 2px;
  background-color: var(--text-primary);
}

header .mobile-menu {
  position: absolute;
  height: calc(100vh - 70px);
  width: 100vw;
  top: 70px;
  left: 0;
  background-color: #00b14b;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

header .mobile-menu a {
  color: var(--dark-bg);
  font-weight: 700;
  text-decoration: none;
  font-size: 68px;
}

@keyframes slideIn {
  from {
    transform: translate(-200px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  
  to {
    transform: scale(100);
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .App {
    padding: 1rem;
  }

  header {
    padding: 1rem;
  }

  header nav {
    display: none;
  }

  header .hamburger {
    display: flex;
  }

  .loading-page .stair {
  transform: scale(0.5);
}
}